.crnx-ode-properties {
	font-size: 14px;
	table {
		@cell-width: 200;
		@cell-height: 20;
		@cell-node-padding: 10;
		@arc-arrow-width: 3;
		.svg(@width,@height,@contents) {
			@svg: "<svg xmlns='http://www.w3.org/2000/svg' width='@{width}' height='@{height}'>@{contents}</svg>";
			@data: escape(@svg);
			background-image+: url("data:image/svg+xml;charset=utf-8,@{data}");
		}
		.arc(@width,@height,@d) {
			.svg(@width,@height,"<path d='@{d}' fill='none' stroke='#000' stroke-width='2' />");
		}
		table-layout: fixed;
		border-collapse: collapse;
		td, th {
			min-width: unit(@cell-width,px);
			width: unit(@cell-width,px);
			padding: 0;
		}
		th {
			@cx: @cell-width;
			@cy: @cell-height;
			@hcx: @cell-width/2;
			@hcy: @cell-height/2;
			&.rt {
				.arc(@cx,@cy,"M @{hcx} 0 a @{hcy} @{hcy} 0 0 0 @{hcy} @{hcy} H @{cx}");
			}
			&.bl {
				.arc(@cx,@cy,"M @{hcx} @{cy} a @{hcy} @{hcy} 0 0 0 -@{hcy} -@{hcy} H 0");
			}
			&.rl {
				.arc(@cx,@cy,"M 0 @{hcy} H @{cx}");
			}
			&.rl.rt {
				.arc(@cx,@cy,"M 0 @{hcy} H @{cx} M @{hcx} 0 a @{hcy} @{hcy} 0 0 0 @{hcy} @{hcy}");
			}
			&.rl.bl {
				.arc(@cx,@cy,"M 0 @{hcy} H @{cx} M @{hcx} @{cy} a @{hcy} @{hcy} 0 0 0 -@{hcy} -@{hcy}");
			}
			&.bt {
				.arc(@cx,@cy,"M @{hcx} 0 V @{cy}");
			}
			&.bt.rt {
				.arc(@cx,@cy,"M @{hcx} 0 V @{cy} M @{hcx} 0 a @{hcy} @{hcy} 0 0 0 @{hcy} @{hcy} H @{cx}");
			}
			&.bt.bl {
				.arc(@cx,@cy,"M @{hcx} 0 V @{cy} M @{hcx} @{cy} a @{hcy} @{hcy} 0 0 0 -@{hcy} -@{hcy} H 0");
			}
		}
		tr.nodes {
			@cx: @cell-width;
			@hcx: @cell-width/2;
			@ax1: @hcx + @arc-arrow-width;
			@ax2: @hcx - @arc-arrow-width;
			@cy: @cell-node-padding;
			th {
				padding: unit(@cell-node-padding,px) 0;
				background-repeat: no-repeat;
				@arrow-path: "<path d='M @{ax1} @{cy} L @{hcx} 0 L @{ax2} @{cy} Z' fill='#FFF' stroke='#000' stroke-width='1' />";
				@start-path-data: "M @{hcx} 0 V @{cy}";
				&.b {
					.svg(@cx,@cy,@arrow-path);
					background-position+: bottom;
				}
				&.t {
					.arc(@cx,@cy,@start-path-data);
					background-position+: top;
				}
				&.b.t {
					.svg(@cx,@cy,@arrow-path);
					background-position+: bottom;
					.arc(@cx,@cy,@start-path-data);
					background-position+: top;
				}
			}
		}
		tr.arcs {
			th {
				height: unit(@cell-height,px);
			}
		}
		tfoot td {
			text-align: center;
		}
	}
}
