.crnx-ode-properties {
	font-size: 14px;
	table {
		@cell-width: 200;
		@cell-height: 20;
		table-layout: fixed;
		border-collapse: collapse;
		td, th {
			min-width: unit(@cell-width,px);
			width: unit(@cell-width,px);
			padding: 0;
		}
		th {
			@cx: @cell-width;
			@cy: @cell-height;
			@hcx: @cell-width/2;
			@hcy: @cell-height/2;
			.arc(@d) {
				@path: "<path d='@{d}' fill='none' stroke='#000' stroke-width='2' />";
				@svg: "<svg xmlns='http://www.w3.org/2000/svg' width='@{cx}' height='@{cy}'>@{path}</svg>";
				@data: escape(@svg);
				background-image+: url("data:image/svg+xml;charset=utf-8,@{data}");
			}
			&.rt {
				.arc("M @{hcx} 0 a @{hcy} @{hcy} 0 0 0 @{hcy} @{hcy} H @{cx}");
			}
			&.bl {
				.arc("M @{hcx} @{cy} a @{hcy} @{hcy} 0 0 0 -@{hcy} -@{hcy} H 0");
			}
			&.rl {
				.arc("M 0 @{hcy} H @{cx}");
			}
			&.rl.rt {
				.arc("M 0 @{hcy} H @{cx}");
				.arc("M @{hcx} 0 a @{hcy} @{hcy} 0 0 0 @{hcy} @{hcy}");
			}
			&.rl.bl {
				.arc("M 0 @{hcy} H @{cx}");
				.arc("M @{hcx} @{cy} a @{hcy} @{hcy} 0 0 0 -@{hcy} -@{hcy}");
			}
			&.bt {
				.arc("M @{hcx} 0 V @{cy}");
			}
			&.bt.rt {
				.arc("M @{hcx} 0 V @{cy}");
				.arc("M @{hcx} 0 a @{hcy} @{hcy} 0 0 0 @{hcy} @{hcy} H @{cx}");
			}
			&.bt.bl {
				.arc("M @{hcx} 0 V @{cy}");
				.arc("M @{hcx} @{cy} a @{hcy} @{hcy} 0 0 0 -@{hcy} -@{hcy} H 0");
			}
		}
		tr.arcs {
			th {
				height: unit(@cell-height,px);
			}
		}
	}
}
